:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #e1a150;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

* {
  box-sizing: border-box;
}

.square {
  padding: 10px;
  box-shadow: 0 1px 6px rgba(87, 38, 38, 0.12),
    0 1px 4px rgba(169, 56, 56, 0.24);
  color: black;
  border-radius: 15px;
  background-color: whitesmoke;
  transition: all 0.15s;
}

.square:active {
  scale: 0.9;
  opacity: 0.9;
  transform: translate(0, 5px);
}

.square {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 70px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  min-width: 70px;
}

.square:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.square:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.square:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.held {
  background-color: #202062;
  color: white;
}

.board {
  position: fixed;
  top: 33.333%;
  right: 0;
  left: 0;
  width: max-content;
  margin: auto;
  padding: 25px;
  background-color: #303035;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white;
  border-radius: 15px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.reset {
  padding: 25px;
  background-color: #353544;
  border-radius: 30px;
  color: white;
  box-shadow: rgba(161, 167, 170, 0.7) 0px 1px 2px 0px,
    rgba(161, 167, 170, 0.7) 0px 2px 6px 2px;
  transition: all 0.15s;
  border: none;
}

.reset:hover {
  scale: 1.1;
  opacity: 0.9;
  cursor: pointer;
  box-shadow: rgba(161, 167, 170, 0.7) 0px 2px 4px 0px,
    rgba(161, 167, 170, 0.7) 0px 4px 12px 4px;
}

.reset:active {
  scale: 0.9;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.8;
}

@media screen and (orientation: portrait) {
  .square {
    padding-left: 12px;
    padding-right: 12px;
    min-width: 50px;
    font-size: 14px;
  }
}
